.cover {
  font-family: "Nunito";
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .image {
    margin-top: 42px;
    height: 304px;
    box-shadow: 0px 25px 80px 0px rgba(0, 0, 0, 0.15);
    border-radius: 78px;
  }

  .capitals {
    color: #13B6B8;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: 4px;
    font-weight: bold;
  }

  .title {
    color: #171717;
    font-size: 32px;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 0;
  }
}
