.logo {
  font-size: 300px;
  font-weight: 200;
  font-family: "JippiFont";
  background: linear-gradient(to top, #13B6B8, #49D0BE);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  padding: 0 50px
}

// .jippiLogo {
//   height: 60px;
//   background-image: url(../../../images/jippi_blue.png);
//   background-repeat: round;
//   width: 100px;
// }