.container {
  height: 400px;
  width: 400px;
  background-image: linear-gradient(90deg, rgba(19, 182, 184, 1) 0%, rgba(73, 208, 190, 1) 100%);
  border-radius: 50%;
  display: inline-block;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .jippi {
    padding: 0;
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    font-family: "Nunito";
    color: #282321;
  }

  .japanese {
    padding: 0;
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    font-family: "Nunito";
    color: #282321;
  }

  .noun {
    padding: 0;
    margin: 0;
    font-size: 32px;
    font-weight: bold;
    font-family: "Nunito";
    color: #282321;
  }
}