.cover {
  font-family: "Nunito";

    .column {
      display: flex;
      flex-direction: column;
     
      .row {
        display: flex;
        flex-direction: row;

        /* Media Query for Mobile Devices */
        @media (max-width: 480px) {
          flex-direction: column;
        }
      
        /* Media Query for low resolution  Tablets, Ipads */
        @media (min-width: 481px) and (max-width: 767px) {
          flex-direction: column;
        }

        /* Media Query for Tablets Ipads portrait mode */
        @media (min-width: 768px) and (max-width: 1024px){
          flex-direction: column;
        }
    
        .capitals {
          color: #13B6B8;
          font-size: 12px;
          margin-top: 0px;
          margin-bottom: 0px;
          letter-spacing: 4px;
          font-weight: bold;
        }

        .title {
          color: #171717;
          font-size: 32px;
          font-weight: bold;
          margin-top: 16px;
          margin-bottom: 0;
        }
      }

      .rowTwo {
        margin-top: 32px;
        display: flex;
        flex-direction: row;
        align-items: start;
        flex: 1;
        justify-content: space-around;

        /* Media Query for Mobile Devices */
        @media (max-width: 480px) {
          flex-direction: column;
        }
      
        /* Media Query for low resolution  Tablets, Ipads */
        @media (min-width: 481px) and (max-width: 767px) {
          flex-direction: column;
        }

        /* Media Query for Tablets Ipads portrait mode */
        @media (min-width: 768px) and (max-width: 1024px){
          flex-direction: column;
        }

        .container {
          margin-left: 56px;
          margin-right: 56px;

          &:first-of-type {
            margin-left: 0;
          }

          &:last-of-type {
            margin-right: 0;
          }
    

            .subtitle {
              margin-left: 0;
              margin-top: 16px;
              margin-bottom: 16px;
              color: #171717;
              font-size: 20px;
            }


            .iconContainer {
              height: 60px;
              width: 60px;
              display: flex;
              align-items: center;

              .icon {
                margin-top: 24px;
                margin-bottom: 24px;
                height: 40px;
              }
  
              .iconTwo {
                margin-top: 24px;
                margin-bottom: 24px;
                height: 32px;
              }
            }
          }
        }
    }
}
