.container {
	text-align: center;
	font-family: 'Varela', sans-serif;
  background-color: #F1FCFB;
	padding: 24px;

	a {
		color: #1d2630;
		font-size: 14px;
		text-decoration: none;

		&:hover {
			border-bottom: 1px solid #3d5066;
			padding-bottom: 4px;
		}
	}

	p {
		color: #1d2630;
		font-size: 10px;
		margin: 16px 0 0 0;
	}
}