.container {
  max-width: 900px;
  display: flex;
  text-align: center;
  flex-direction: column;

  .text {
    font-size: 48px;
    font-weight: bold;
    font-family: "Nunito";
    color: #282321;

    .highlight {
      display: inline;
      padding: 2px 8px;
      background: #2BACAE;
      color: #282321;
    }
  }
}
