@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: local("San Francisco"),
  url("./fonts/FontsFree-Net-SF-Pro-Rounded-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
