@font-face {
  font-family: "Nunito";
  font-weight: 400;
  src: local("Nunito"),
  url("./fonts/Nunito-VariableFont_wght.ttf") format("truetype");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
